input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {font-family: 'GmarketSansBold';}

span, input, button, p, select {font-family: 'GmarketSansMedium';}
span, p, footer{color:#363942;}
span, p {font-size:0.8em;text-align:center;}
footer {font-family: 'GmarketSansLight'; margin-top:500px;}

a {
	text-decoration: none;
}

#wbdropdown-container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

#range-chapter-start, #range-number-start, #range-number-end, #range-chapter-end {
	display: flex;
	align-items: baseline;
}
#range-end {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}
#range-start {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
}

select {
	width: 261px;
	height: 35px;
	border: 0px;
	background: #E7E7E7;
	border-radius: 10px;
}

select#start-chapter, #start-number, #end-chapter, #end-number {
	width: 80px;
    margin-left: 20px;
    margin-right: 10px;
}

#select-range-container {
	margin-top: 10px;
}

input[type="radio"].mark { 
	font-family: 'GmarketSansMedium';
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}
input[type="radio"].mark + label {         
	font-family: 'GmarketSansMedium';
	display: inline-block; 
	position: relative; 
	padding-left: 30px;  
	cursor: pointer; 
	-webkit-user-select: none;
	-moz-user-select: none; 
    -ms-user-select: none; 
	}

input[type="radio"].mark + label:before {
	font-family: 'GmarketSansMedium';
	color: #65B4A1;
	position: absolute; 
	left: 0px; 
	top: 0px; 
	text-align: center;
	width: 21px; 
	height: 21px; 
	line-height: 24px;
	background: #CDEADD; 
	border: 1px solid #CDEADD; 
	border-radius: 100%; 
}

input[type="radio"].value1 + label:before { 
	content: '1';
}
input[type="radio"].value2 + label:before { 
	content: '2'; 
}
input[type="radio"].value3 + label:before { 
	content: '3'; 
}
input[type="radio"].value4 + label:before { 
	content: '4'; 
}
input[type="radio"].value5 + label:before { 
	content: '5'; 
}

	
input[type="radio"].mark:checked + label:before { background: #035A58; border-color: #035A58; font-family: 'GmarketSansMedium';}
input[type="radio"].mark:checked + label:after {
	font-family: 'GmarketSansMedium';
	color: #ffffff;
	position: absolute; 
	top: 2.8px; 
	left: 6px; 
	width: 21px; 
	height: 21px; 
	background: #ffffff00; 
	border-color: #ffffff00;
	border-radius: 100%; 	
}

input[type="radio"].value1:checked + label:after { 
	content: '1';
	left: 8px;
}

input[type="radio"].value2:checked + label:after { 
	content: '2'; 
}

input[type="radio"].value3:checked + label:after { 
	content: '3';
}

input[type="radio"].value4:checked + label:after { 
	content: '4'; 
}

input[type="radio"].value5:checked + label:after { 
	content: '5'; 
}

.subject-container {
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-right: 5px;
			border-radius: 25px;
		}
		.subject-container input[type=radio] {
			display: none;
		}
		.subject-container label {
			display: block;
    		border-radius: 25px;
   			margin: 0 auto;
			width: 50px;
			height: 50px;
    		text-align: center;
    		height: -webkit-fill-available;
    		line-height: 50px;
		}
		 
		/* Checked */
		.subject-container input[type=radio]:checked + label {
			background: #32A37A;
			box-shadow: 0px 0px 20px #6BE2B8;
			color: #ffffff;
		}
		 
		.subject-container input[type=radio] + label {
			background: #A2DAC6;
			color: #ffffff;
		}

button {
	display:flex;
	align-items:center;
    justify-content:center;
    text-align:center;
	position:relative;
	width:223px;
	height:52px;
	background:#5fa28a;
	border-radius:8px;
	border: 0px;
}
button:active{
	background: #9CC9B9;
}




button.sb {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #A2DAC6;
	margin-left: 5px;
	margin-right: 5px;
	color: #ffffff;
}

#select-range-container {
	display: flex;
    flex-direction: column;
	justify-content: center;
}

#range-submit-btn-container {
	margin-top: 100px;
}

.omr-block {
	
	width: 350px;
	height: 35px;
	background: #A7CEC7;
	border-radius: 5px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

#omr-blocks {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

#check-container {
	margin-top: 50px;
}

input[type="text"]:focus {
	outline: none;
}

*{
	-webkit-tap-highlight-color: transparent;
}

#revert-btn {
	width: 50px;
	height: 50px;
	background: #ffffff00;
}

#revert-btn:active {
	opacity: 0.3;
}

#kakao-bottom {
	margin-top: 20px;
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 0.2em;
	color: #28282804;
	margin-top:100px;
}
#footer {
	display: flex;
	flex-direction: column;
}

#instagram-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}